body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #085686;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img{
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #085686;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Käytetään Flexboxia */
    justify-content: center; /* Keskitetään elementit vaakasuunnassa */
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Virheilmoitus */
.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

/* Korostus punaisella reunuksella */
select[style*="border-color: red"] {
    border-color: red;
    border-width: 2px;
}

.dark-mode { /* Tumma tila */
    background-color: #252525; /* Tumman tilan taustaväri */
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #085686;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #fff;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#liikkeenKuvaus {
    margin-top: 20px;
    font-weight: bold;
}

