body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    transition: background-color 0.5s; /* Animointi taustavärin muutokselle */
    margin: 0;
    padding: 0;
}

header {
    background-color: #085686;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

header img{
    width: 90%;
    height: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    height: 100px;
}

input[type="checkbox"] {
    display: none; /* Piilota oletusvalintanappi */
}

#darkModeLabel {
    background-color: #666;
    color: #ffffff;
    border-radius: 10px; /* Pyöristetyt kulmat */
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#darkModeSwitch:checked + #darkModeLabel {
    background-color: #333;
}

.dark-mode { /* Tumma tila */
    background-color: #252525; /* Tumman tilan taustaväri */
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #085686;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100px;
}

.sarakkeet {
    display: flex; /* Järjestä sarakkeet rinnakkain */
    justify-content: space-between; /* Säädä tila sarakkeiden välillä */
    align-items: center; /* Keskitä vertikaalisesti */
}

.sarakkeen-osa {
    flex: 1; /* Jokainen sarake jakaa tilan tasaisesti */
    text-align: center;
    margin: 10px;
}

.sarakkeen-osa h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #085686;
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s; /* Lisätään siirtymäefekti hoverille */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Lisätään varjo kuville */
}
.sarakkeen-osa h2:hover {
    transform: scale(1.05); /* Kuva suurenee hieman hoverin aikana */
}

.sarakkeen-osa img {
    width: 100%; /* Kuvan leveys */
    height: 400px;  /*Kuvan korkeus */
    object-fit: cover; /* Säilytä kuvasuhteet ja täytä elementti */
    transition: transform 0.2s; /* Lisätään siirtymäefekti hoverille */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Lisätään varjo kuville */
}

.sarakkeen-osa img:hover {
    transform: scale(1.05); /* Kuva suurenee hieman hoverin aikana */
}

.sarakkeen-osa a {
    text-decoration: none;
    color: #333;
}

.sarakkeen-osa a:hover {
    color: #555;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Leveys kasvatettu tekstien mukaan */
    height: 34px;
}

.switch input {
    display: none;
    
}

.switch-text-left,
.switch-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.switch-text-left {
    left: 10px;
}

.switch-text-right {
    right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "On";
    
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    content: "Off";
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: "On";
}

.switch-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
}

.switch-text-right {
    right: 65px;
}